/* Auth.css */
.logo {
  display: block;
  margin: 15% auto; /* Center the logo and add some margin below it */
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.auth-container {
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
  border-radius: 20px;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20% auto;
  /* Optional: Add some shadow for better visual appearance */
  background-color: #ffffff; /* Ensure background is white */
}

h2 {
  margin: 20px 20px 20px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

form {
  width: 100%;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

legend {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  padding: 0 10px;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px; /* Prevent zoom on mobile */
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  margin: 20px 0 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.primary {
  background-color: #000000;
  color: white;
}

button.primary:hover {
  background-color: #000000;
}

button.secondary {
  background-color: #e0e0e0;
  color: #333;
}

button.secondary:hover {
  background-color: #bdbdbd;
}


button.tertiary {
  border-color: #000000;
  border-width: 1px;
  border-radius: 8px;

}
p {
  color: #666;
  font-size: 14px;
}

/* Date input styling */
input[type="date"] {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  color: #333;
}

/* Date display styling */
.date-display {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  display: inline-block; /* Makes the element inline but with padding and margin */
}


