.feed-container {
  margin-top: auto; /* Adjusted margin for better spacing */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the tweets */
  padding: 20px;
}

.tweets {
  width: 100%;
  min-width: 320px; /* Set a minimum width for better readability */
}

.tweet {
  width: 100%;
  margin-bottom: 20px; /* Add some space between tweets */
  padding: 10px; /* Add padding for better spacing */
  border-bottom: 2px solid #000000; /* Add a border for better separation */
  background-color: #fff; /* Set a background color */
}

.tweet h1 {
  font-size: 1.4em; /* Increased font size for username */
  font-weight: bold;
  margin-bottom: 5px; /* Adjusted space below username */
}

.tweet p {
  font-size: 1em; /* Increased font size for timestamp */
  color: #888;
  margin-bottom: 10px; /* Adjusted space below date */
}

.tweet h3 {
  font-size: 1.2em; /* Increased font size for tweet content */
  line-height: 1.4; /* Adjusted line height for better readability */
  margin-bottom: 15px; /* Adjusted space below tweet content */
}

.like-button {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 24px;
}

.load-more-button {
  width: 100%;
  height: 50px;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.load-more-button:hover {
  background-color: #282828;
}

/* Responsive Design */
@media (max-width: 768px) {
  .tweet p {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .tweet h2 {
    font-size: 1.2em; /* Adjusted font size for smaller screens */
  }

  .tweet p {
    font-size: 0.8em;
  }

  .tweet h3 {
    font-size: 1.1em; /* Adjusted font size for smaller screens */
  }
}