/* Post.css */

.post-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    margin-top: 8%;
  }
  
  textarea {
    width: 100%;
    height: fit-content;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    resize: none;
  }
  
  .post-button {
    width: 30%;
    background-color: #000000;
    color: white;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0d95e8;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
  }