/* Post.css */

.post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%; /* Adjust width to be responsive */
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  margin: 100px auto;
}

@media (max-width: 460px) {
  .post-container {
    width: 95%; /* Adjust width for smaller devices */
    margin: 60px auto; /* Adjust margin for smaller devices */
    border-radius: 0%;
    padding: 10px;
  }
}

textarea {
  width: 100%;
  height: fit-content;
  margin: 10px 0;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
  resize: none;
}

.post-button {
  width: 30%;
  background-color: #000000;
  color: white;
  font-weight: bolder;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

.post-button:hover {
  background-color: #2d2d2d;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}

