.profile-container {
  width: fit-content;
  max-width: 600px;
  padding: 20px;
  margin: 120px auto;
  text-align: left;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.profile-picture {
  width: 120px;
  height: 120px;
  background-color: #555;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  object-fit: cover;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.follow-button {
  width: fit-content;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.follow-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.follow-info p {
  color: #000000;
  margin: 0;
  font-weight: bold;
}

.tweets-box {
  margin-top: 20px;
}