/* App.css */

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  border-bottom: 1px solid #e6ecf0;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 0;
  padding: 10px 20px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar, .right-sidebar {
  border-color: #e6ecf0;
  border-style: solid;
  border-width: 1px;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 0 10px;
  margin-top: 5%;
}

.main {
  width: fit-content;
  height: fit-content;
  border-color: #e6ecf0;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 20px;
  flex: 3;
  margin: 0 10px;
  margin-top: 5%;
  max-width: 600px;
}

.feed-container {
  height: fit-content;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}

input, textarea {
  width: 100%;
  height: fit-content;
  margin: 10px 0;
  padding: 10px 10px 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

button {
  background-color: #000000;
  color: white;
  font-weight: bolder;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #0d95e8;
}

textarea {
  resize: none;
}

.tweet-block {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #ffffff; /* Ensure background is white */
}